.container {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 600px;
    width: 600px;
}
.top {
    width: 100%;
    height: 25%;
}
.circle-left {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color:red;
    display: inline-block;
    position: relative;
    right: 25%;
}
.circle-right {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color:red;
    display: inline-block;
    position: relative;
    left: 25%;
}
.butt {
    width: 100%;
    height: 25%;
    margin-top: 50%;
}
.circle-left-location {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color:red;
    display: inline-block;
    position: relative;
    right: 25%;
}
.circle-right-location {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color:red;
    display: inline-block;
    position: relative;
    left: 25%;
}
.square {
    width: 75%;
    height: 75%;
    background-color: #00A2FF;
    margin: 0 auto;
    position: relative;
    bottom: 87.5%;
}
.square-central {
    width: 33.3%;
    height: 33.3%;
    background-color: yellow;
    border-radius: 10%;
    margin: 0 auto;
    position: relative;
    bottom: 142.5%;
}
/*=========hovers========*/
.circle-left:hover {
    background-color: rosybrown;
    z-index: 1;
}
.circle-right:hover {
    background-color: gray;
    z-index: 1;
}
.circle-right-location:hover {
    background-color: royalblue;
    z-index: 1;
}
.circle-left-location:hover {
    background-color: goldenrod;
    z-index: 1;
}
.square:hover {
    background-color: orange;
    z-index: 5;
}